In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
mapa = {
    'home': 'principal',
    'how_it_works': 'como_funciona',
    'contact': 'contato',
    'bought': 'comprou'
}
dados.rename(columns=mapa, inplace=True)

In [3]:
x = dados[['principal', 'como_funciona', 'contato']]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [4]:
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [5]:
dados.shape

(99, 4)

In [8]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print(f'Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos.')

Treinaremos com 75 elementos e testaremos com 24 elementos.

In [13]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de {(acuracia * 100).round(2)}%.')

A acurácia foi de 95.83%.

# Usando a biblioteca para separar treino e teste

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state=SEED, test_size=0.25)
print(f'Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos.')

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de {(acuracia * 100).round(2)}%.')

Treinaremos com 74 elementos e testaremos com 25 elementos.
A acurácia foi de 96.0%.

In [30]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [31]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

# Manter a proporção entre o treino e o teste

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state=SEED, test_size=0.25, stratify=y)
print(f'Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos.')

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de {(acuracia * 100).round(2)}%.')

Treinaremos com 74 elementos e testaremos com 25 elementos.
A acurácia foi de 96.0%.

In [33]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [34]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64